{% extends "base.html.twig" %}

{% block title %}Apod{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Astronomy Picture of the Day</h1>
    {% if apodMedia %}
    <p>{{apodMedia.date | date("d/m/Y")}}</p>
    <img class="img-fluid" src="{{asset('media/' ~ apodMedia.mediaName)}}" alt="{{ apodMedia.title }}">
    <p>{{ apodMedia.title }}</p>
    <p class="text-justify"><b>Explication</b> {{ apodMedia.explanation }}</p>
    {% else %}
    <p>Il n'y a aucune image.</p>
    {% endif %}
    

</div>
{% endblock %}
